#main-background{
height: 1000px;
}


.main-article{
display: flex ;
flex-direction: row;
justify-content: space-evenly;
position: relative;
width: 100%;
}

.my-logo{
position: relative;
margin-top: 0px;
left: 0%;
}

#first-article{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(1, 155, 155);
text-align: center;
border-radius: 6%;
width: 310px;
font-weight: 400;
color: white;
position: relative;
line-height: 36px;
font-size: 16px;
animation: first-article 2s ease-in-out 0s normal ;
}


@keyframes first-article {
0% {
background-color: white;    
}
50%{
background-color: #a3f0f0;
}

100%{
background-color: rgb(1, 155, 155);
}
}

#dog-img{
padding-top: 100px;
}


#second-article{
width: 310px;
line-height: 36px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: center;
border-radius: 6%;
position: relative;
background-color: wheat;
color: black;
animation: second-article 2s ease-in-out 0s normal ;
}

@keyframes second-article {
 0% {
background-color: white;    
 }
50%{
background-color: #f6e8ce;
}
    
100%{
 background-color: wheat;
 }
    }


.nav-bar{
display: flex;
padding-top: 10px;
justify-content:space-evenly;
line-height: 40px;
background-color:rgb(1, 155, 155);
width: 100%;
}

#link-home{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
font: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#link-breeds{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;

line-height: 75px;
font: bolder;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}

#form-link{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;

line-height: 75px;
font-size: large;
}

#link-mission{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
font: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#link-contact{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
font: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#services-link{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
font: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#link-locations{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
font: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#our-mission{
position: relative;
}

.mission-statement{
width: 100%;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#mission-inside{
line-height: 36px;
font-weight: 400;
font-style: 16px;
text-align: center;
position: relative;
font-size: 16px;
width: 500px;
background-color: #7d4297;
border-radius: 6%;
color: white;
animation: mission-inside 2s ease-in-out 0s normal ;
}

@keyframes mission-inside {
    0% {
   background-color: white;    
    }
   50%{
   background-color: #d093f8;
   }
       
   100%{
    background-color: #7d4297;
    }
       }
   
   

#pic-1{
border-radius: 7%;
width:200px;
height:200px
}

#whole-my-form{
justify-content: space-evenly;
width: 100%;
height: 500px;
justify-items: center;
display: flex;
flex-direction: row;
background-color: lightsalmon;
border-radius: 7%;
text-align: center;
}


#my-breed{
width: 100%;
background-color: lightslategrey;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
border: solid black;
text-align: center;
line-height: 36px;
font-size: 16px;
font-weight: bold;
color: white;
}
#the-breeds{
border: solid black;
border-radius: 15%;
}

.services{
display: flex;
justify-content: space-evenly;
}

#camp-service{
background-color: lightgreen;
border-radius: 7%;
text-align: center;
line-height: 36px;
font-size: 16px;
font-weight: bold;
border: solid black;
animation: camp-service 2s ease-in-out 0s normal ;
}

@keyframes camp-service {
    0% {
   background-color: white;    
    }
   50%{
   background-color:white;
   }
       
   100%{
    background-color:  lightgreen;
    }
       }
   

#daycare-service{
background-color: rgb(243, 170, 243);
border-radius: 7%;
text-align: center;
line-height: 36px;
font-size: 16px;
font-weight: bold;
border: solid black;
animation: daycare-service 2s ease-in-out 0s normal
}

@keyframes daycare-service {
    0% {
   background-color: white;    
    }
   50%{
   background-color: white;
   }
       
   100%{
    background-color:  rgb(243, 170, 243)
    }
       }

#training-service{
background-color: rgb(151, 137, 238);
border-radius: 7%;
text-align: center;
line-height: 36px;
font-size: 16px;
font-weight: bold;
border: solid black;
animation: training-service 2s ease-in-out 0s normal
}
@keyframes training-service {
    0% {
   background-color: white;    
    }
   50%{
   background-color: white;
   }
       
   100%{
    background-color:  rgb(151, 137, 238)
    }
       }
.dog-images{
border-radius: 7%;
}
.cities{
display: flex;
justify-content: space-evenly;
text-align: center;
}
#contact{
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: lightgoldenrodyellow;
text-align: center;
border-radius: 7%;
    }
