#main-background{
height: 1000px;
}


.main-article{
display: flex ;
flex-direction: row;
justify-content: space-evenly;
position: relative;
width: 100%;
}

.my-logo{
position: relative;
margin-top: 0px;
left: 0%;
}

#first-article{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(1, 155, 155);
text-align: center;
border-radius: 6%;
width: 310px;
font-weight: 400;
color: white;
position: relative;
line-height: 36px;
font-size: 16px;
animation: first-article 2s ease-in-out 0s normal ;
}


@keyframes first-article {
0% {
background-color: white;    
}
50%{
background-color: #a3f0f0;
}

100%{
background-color: rgb(1, 155, 155);
}
}

#dog-img{
padding-top: 100px;
}


#second-article{
width: 310px;
line-height: 36px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: center;
border-radius: 6%;
position: relative;
background-color: wheat;
color: black;
animation: second-article 2s ease-in-out 0s normal ;
}

@keyframes second-article {
 0% {
background-color: white;    
 }
50%{
background-color: #f6e8ce;
}
    
100%{
 background-color: wheat;
 }
    }


.nav-bar{
display: inline;
justify-content: space-evenly;
padding-top: 100px;
position: relative;
left: 30%;
}

#link-home{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
line-height: 75px;
}

#link-breeds{
    text-decoration: unset;
    background-color: rgb(1, 155, 155);
    color: white;
    padding-left: 100px;
    line-height: 75px;
}

#form{
    text-decoration: unset;
    background-color: rgb(1, 155, 155);
    color: white;
    padding-left: 100px;
    line-height: 75px;
}

#link-mission{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
padding-left: 100px;
line-height: 75px;
}

#our-mission{
position: relative;
}

.mission-statement{
width: 100%;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#mission-inside{
line-height: 36px;
font-weight: 400;
font-style: 16px;
text-align: center;
position: relative;
font-size: 16px;
width: 500px;
background-color: #7d4297;
border-radius: 6%;
color: white;
animation: mission-inside 2s ease-in-out 0s normal ;
}

@keyframes mission-inside {
    0% {
   background-color: white;    
    }
   50%{
   background-color: #d093f8;
   }
       
   100%{
    background-color: #7d4297;
    }
       }
   
   

#pic-1{
border-radius: 7%;
width:200px;
height:200px
}

#whole-my-form{
justify-content: space-evenly;
width: 100%;
justify-items: center;
display: flex;
flex-direction: row;
}

#my-form{
width: 700px;
background-color: lightsalmon;
border-radius: 7%;
height: 700px;
display: flex;
flex-flow: column;
text-align: center;
}

#my-breed{
width: 100%;
background-color: lightslategrey;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
border: solid black;
text-align: center;
line-height: 36px;
font-size: 16px;
font-weight: 400;
}
#the-breeds{
border: solid black;
border-radius: 15%;
}
