#main-background{
height: 1000px;
}


.main-article{
display: flex ;
flex-direction: row;
justify-content: space-evenly;
position: relative;
width: 100%;
}

#first-article{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(1, 155, 155);
text-align: center;
border-radius: 6%;
width: 310px;
font-weight: 400;
color: white;
position: relative;
line-height: 36px;
font-size: 16px;
animation: first-article 2s ease-in-out 0s normal ;
}


@keyframes first-article {
0% {
background-color: white;    
}
50%{
background-color: #a3f0f0;
}

100%{
background-color: rgb(1, 155, 155);
}
}

#dog-img{
padding-top: 100px;
}


#second-article{
width: 310px;
line-height: 36px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: center;
border-radius: 6%;
position: relative;
background-color: wheat;
color: black;
animation: second-article 2s ease-in-out 0s normal ;
}

@keyframes second-article {
 0% {
background-color: white;    
 }
50%{
background-color: #f6e8ce;
}
    
100%{
 background-color: wheat;
 }
    }


.nav-bar{
display: inline;
padding-top: 100px;
position: relative;
left: 35%;
}

#link-home{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
}

#link-mission{
text-decoration: unset;
background-color: rgb(1, 155, 155);
color: white;
padding-left: 100px;
}